/*--------------------
         header
---------------------*/

header {
  width: 100%;
}
nav {
  width: 90%;
  justify-content: space-around;
}
ul li {
  margin-left: -10px;
  padding-left: 30px;
}

/*--------------------
     main-section
---------------------*/
.main-image {
  width: 60%;
}
.focus-area {
  font-size: 40px;
}
.juarny-information {
  width: 70%;
  padding-left: 20px;
}
.main-image img {
  width: 300px;
}

/*-------------------
    second section
--------------------*/

.second-section {
  grid-template-columns: repeat(2, 1fr);
  margin-top: -10px;
  margin-top: 40px;
  grid-column-gap: 20px;
  margin-left: -10px;
  margin-left: 40px;
}

/*--------------------
    features area
---------------------*/
.featured-image img {
  width: 420px;
}
.featured-image {
  margin-right: 150px;
}
.featured-info {
  width: 480px;
  padding-left: 30px;
}
.featured {
  flex-direction: column;
  align-items: center;
}
.feedback-container {
  width: 60%;
}
